@import url("https://fonts.googleapis.com/css2?family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");
@font-face {
	font-family: "Pure Joy";
	src: url("../fonts/PureJoy.ttf");
	font-weight: 400;
}
body {
	padding: 0;
	margin: 0;
	top: 0 !important;
}
h1,
h2,
h3,
h4,
h5,
p {
	margin: 0;
	padding: 0;
}
* {
	box-sizing: border-box;
}
input:focus {
	outline: none;
}
.wrapper {
	max-width: 1530px;
	margin: auto;
	padding-left: 15px;
	padding-right: 15px;
}
img {
	max-width: 100%;
}

@mixin flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}
@mixin flex-between-center {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
@mixin ul-def {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
a {
	text-decoration: none;
}

/* Hide the Google Translate top bar */
.goog-te-banner-frame {
	display: none !important;
}

/* Hide the Google Translate pop-up */
body > .skiptranslate {
	display: none !important;
}

/* Hide the Google Translate logo */
.goog-logo-link {
	display: none !important;
}

/* Hide the Google Translate dropdown default styles */
.goog-te-gadget {
	font-size: 0px;
}

/* Ensure page doesn’t shift due to hidden elements */
.goog-te-gadget span {
	display: none !important;
}

/* Optional: If you are using the inline Google Translate dropdown */
#google_translate_element {
	position: absolute;
	opacity: 0;
}

// def code end

.subt {
	color: #fff;
	text-align: center;
	text-shadow: 6px 4px 0px #000d27;
	font-family: "Pure Joy";
	font-size: 88px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.btn-nav {
	border-radius: 10px;
	border: 2px solid #ffe7b4;
	background: #ffae00;
	min-height: 63px;
	@include flex-center();
	min-width: 157px;
	color: #fff;
	font-family: "Pure Joy";
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	transition: all ease 0.5s;
	&:hover {
		background-color: #9d6d07;
	}
}

.btn-t1 {
	border-radius: 10px;
	border: 2px solid var(--Stroke, #fff2d7);
	background: var(--primary, #ffae00);
	min-height: 66px;
	padding: 10px 36px;
	color: #fff;
	font-family: "Pure Joy";
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	@include flex-center();
	display: inline-flex;
	gap: 8px;
	transition: all ease 0.5s;
	&:hover {
		background-color: rgb(157, 109, 7);
	}
}
.btn-t2 {
	@include flex-center();
	display: inline-flex;
	gap: 8px;
	border-radius: 10px;
	border: 2px solid var(--primary, #ffae00);
	background: #fff;
	padding: 0 22.241px;
	min-height: 66px;
}

.topbgnav {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	min-height: 300px;
	background: linear-gradient(180deg, #00021b 0%, rgba(0, 2, 27, 0.8) 43.09%, rgba(0, 2, 27, 0) 100%);
}
nav {
	padding-top: 24px;
	position: absolute;
	left: 0;
	right: 0;
	z-index: 999999999;
	.wrapper {
		max-width: 1668px;
	}
	.socm {
		@include flex-center();
		gap: 13px;
		// img {
		// 	max-width: 50px;
		// }
	}
	.lines {
		display: none;
	}
	.left {
		min-width: 300px;
	}
	.onlymobile {
		display: none;
		.socm {
			margin-top: 0;
		}
	}
	.row {
		@include flex-between-center();
		min-height: 68px;
		.middle {
			ul {
				@include ul-def();
				@include flex-center();
				gap: 41px;
				li {
					a {
						color: #fff;
						font-family: "Pure Joy";
						font-size: 20px;
						font-style: normal;
						font-weight: 400;
						line-height: normal;
						transition: all ease 0.5s;
						&:hover {
							color: #9d6d07;
						}
					}
					.active {
						color: #9d6d07;
					}
				}
			}
		}
	}
	.right {
		@include flex-center();
		gap: 21px;
	}
}
.language-switcher {
	position: relative;

	.show {
		display: flex;
	}
	.choosen {
		display: inline-flex;

		color: #403c4e;
		font-family: "Pure Joy";
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 140%; /* 19.6px */

		transition: all ease 0.5s;
		gap: 3px;
		background-color: transparent;
		align-items: center;
		justify-content: center;
		display: flex !important;

		border-radius: 30px;
		border: 1px solid #e8e7e9;
		background: #f8f8f8;
		padding: 5px 10px 5px 6px; // span {
		// 	padding-bottom: 1px;
		// }
		.arrow-d {
			max-width: 20px;
		}
		.flag-icon {
			border-radius: 36px;
			border: 1px solid #e0e0e0;
			background: url(<path-to-image>) lightgray 50% / cover no-repeat;
			width: 36px;
			min-width: 36px;
			height: 36px;
		}
		span {
			margin-bottom: -3px;
		}
		svg path {
			fill: #060c0e;
			transition: all ease 0.5s;
		}
		&:hover {
			// background-color: #f6e00e;
			// color: #000;
			svg path {
				fill: #000;
			}
		}
	}
}
.language-switcher {
	position: relative;
	display: inline-block;
}

.language-switcher .choosen {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.language-dropdown {
	position: absolute;
	top: calc(100% + 10px);
	left: 0;
	background-color: #fff;
	border: 1px solid #fff;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	// border-radius: 10px;
	padding: 5px 0;
	display: none;
	width: 120px;
	list-style: none;
	z-index: 100;
	max-height: 300px;
	overflow: auto;
	flex-direction: column;
	align-items: start;

	-webkit-box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.15);
}

.language-dropdown li {
	display: flex;
	align-items: center;
	gap: 8px;
	padding: 10px;
	color: #060c0e;
	cursor: pointer;
	transition: background 0.3s;
	width: 100%;

	color: #726d75;
	font-family: Overlock;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	letter-spacing: -0.2px;
	text-transform: capitalize;

	img {
		max-width: 20px;
	}
}

.language-dropdown li:hover {
	background-color: #ebf9ff;
	color: black;
}
.hero {
	min-height: 1080px;
	background: url("../img/hero-bg.webp") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
	overflow: hidden;
	.cloud1 {
		position: absolute;
		left: 0;
		bottom: -180px;
	}
	.cloud2 {
		bottom: -150px;
		right: 0;
		position: absolute;
	}
	.gif1 {
		position: absolute;
		max-width: 1183px;
		bottom: -320px;
		left: calc(50% - 800px);
	}
	.titlepl {
		max-width: 882px;
		position: absolute;
		left: calc(50% - 690px);
		top: 0;
		h1 {
			color: #fff;
			text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.73);
			-webkit-text-stroke-width: 1px;
			-webkit-text-stroke-color: #000;
			font-family: "Pure Joy";
			font-size: 32px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			text-align: center;
			margin-top: -247px;
			padding-left: 12px;
		}
	}
	.wrapper {
		position: relative;
		z-index: 2;
	}
	.row {
		display: flex;
		justify-content: end;
		padding-top: 195px;
		.right {
			max-width: 490px;
			width: 100%;
		}
	}
}

.logos-wrapper {
	overflow: hidden;
	width: 100%;
	min-width: 100%;
	position: relative;
	border-top: 4.224px solid #000;
	border-bottom: 4.224px solid #000;
	background: #fff;
	height: 105px;
	@include flex-center();
	.logos-slide {
		width: 100%;
		// flex-direction:;
	}
	.boxes {
		@include flex-between-center();
		margin: auto;
		gap: 40px;
		.box {
			// min-height: 59px;
			// @include flex-center();
			// min-width: calc(16.66% - 15px);
		}
	}
	overflow: hidden;
	.boxes {
		width: 15000px;
		animation: slideBoxs 80s linear infinite;
		gap: 50px;
		margin: 0;
	}

	@keyframes slideBoxs {
		0% {
			transform: translateX(0%);
		}
		95% {
			transform: translateX(calc(-7000px - 200vw)); /* Smooth infinite scroll */
		}
		100% {
			transform: translateX(calc(-7500px - 200vw)); /* Smooth infinite scroll */
		}
	}
}

.hero .connect-wallet {
	border-radius: 24px;
	border: 6px solid var(--primary, #ffae00);
	background: var(--Stroke, #fff2d7);
	box-shadow: 7px 8px 0px 0px #ffae00;
	width: 100%;
	padding: 34px 32px;
	display: flex;
	flex-direction: column;
	margin-top: 8px;
	margin-left: 0px;
	min-height: 788px;

	.loading-paragraph {
		color: var(--Black, #000d27);
		text-align: center;
		font-family: Overlock;
		font-size: 14px;
		font-style: normal;
		font-weight: 900;
		line-height: 130%; /* 18.2px */
		margin-top: 23px;
	}
	.loading-line {
		border-radius: 35px;
		border: 1px solid #ddd3de;
		background: #fffffb;
		min-height: 18px;
		padding: 3px;
		margin-top: 15px;
		position: relative;
		margin-bottom: 25px;

		.effect {
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			right: 0;
			display: flex;
			gap: 20px;
			overflow: hidden;
			border-radius: 35px;
		}
		.loading-effect {
			position: absolute;
			// left: -195px;
			top: 0;
			bottom: 0;
			right: 0;
			display: flex;
			gap: 20px;
			overflow: hidden;
			border-radius: 35px;
		}

		.line-group {
			display: flex;
			gap: 20px;
			animation: slideRight 40s linear infinite;
		}

		.line-in {
			background: #fff2d7;
			width: 3.188px;
			height: 17.468px;
			transform: rotate(22.685deg);
			flex-shrink: 0;
			margin-top: -4px;
		}

		@keyframes slideRight {
			0% {
				transform: translateX(0);
			}
			100% {
				transform: translateX(50%);
			}
		}

		.inside {
			position: absolute;
			left: 3px;
			bottom: 3px;
			top: 3px;
			background: #ffae00;
			border-radius: 42px;
			.dot {
				position: absolute;
				right: -4px;
				top: -12px;
				width: 35px;
				height: 35px;
				background: url("../img/loading-dot.webp");
				background-repeat: no-repeat;
				background-position: center;
			}
		}
	}

	.btns-cw {
		@include flex-between-center();
		align-items: start;
		a {
			border-radius: 10px;
			border: 1px solid var(--Stroke, #ddd3de);
			background: #fff;
			color: var(--Black, #000d27);
			leading-trim: both;
			text-edge: cap;
			font-family: "Pure Joy";
			font-size: 20px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			min-width: calc(50% - 10px);
			@include flex-center();
			padding: 16px 10px;
			transition: all ease 0.5s;
			gap: 8px;
			&:hover {
				opacity: 0.7;
			}
		}
		.active {
			border-radius: 10px;
			border: 1px solid var(--Black, #000d27);
			background: var(--primary, #ffae00);
			box-shadow: 3px 3px 0px 0px #000d27;
			color: #fff;
			padding: 14px 10px;
		}
	}
	h3 {
		color: var(--Black, #000d27);
		text-align: center;
		leading-trim: both;
		text-edge: cap;
		font-family: "Pure Joy";
		font-size: 28px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		margin-top: 24px;
	}
	.time {
		@include flex-between-center();
		margin-top: 24px;
		.box {
			border-radius: 12px;
			border: 1.5px solid var(--Black, #000d27);
			background: #fff;
			box-shadow: 3px 3px 0px 0px #080513;
			width: 85px;
			height: 69px;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			gap: 5px;
			h4 {
				color: var(--Stroke, #fff2d7);
				text-align: center;
				leading-trim: both;
				text-edge: cap;
				text-shadow: 2px 2px 0px #080513;
				-webkit-text-stroke-width: 1px;
				-webkit-text-stroke-color: var(--Black, #000d27);
				font-family: "Pure Joy";
				font-size: 32px;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
			}
			p {
				color: var(--Black, #000d27);
				text-align: center;
				font-family: Overlock;
				font-size: 14px;
				font-style: normal;
				font-weight: 900;
				line-height: 130%; /* 18.2px */
				margin: 0;
			}
		}
	}

	.lastp {
		@include flex-between-center();
		margin-top: 24px;
		.l {
			a {
				color: var(--Black, #000d27);
				font-family: Overlock;
				font-size: 14px;
				font-style: normal;
				font-weight: 900;
				line-height: 130%; /* 18.2px */
				text-decoration-line: underline;
				text-decoration-style: solid;
				text-decoration-skip-ink: auto;
				text-decoration-thickness: auto;
				text-underline-offset: auto;
				text-underline-position: from-font;
			}
		}
		.r {
			a {
				@include flex-center();
				gap: 3px;
				color: var(--Black, #000d27);
				font-family: Overlock;
				font-size: 14px;
				font-style: normal;
				font-weight: 900;
				line-height: 130%; /* 18.2px */
			}
		}
	}

	button {
		color: #fff;
		leading-trim: both;
		text-edge: cap;
		font-family: "Pure Joy";
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		border-radius: 7px;
		border: 1px solid var(--Black, #000d27);
		background: var(--primary, #ffae00);
		box-shadow: 2px 2px 0px 0px #080513;
		margin-top: 20px;
		padding: 13px;
		transition: all ease 0.5s;
		&:hover {
			background-color: #9d6d07;
		}
	}

	.ch-line {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 21px;
		position: relative;
		.line {
			content: "";
			position: absolute;
			height: 1px;
			width: 100%;
			top: 50%;
			transform: translateY(-50%);
			background-color: #000d27;
		}
		.box {
			border: 1px solid #000d27;
			width: 36px;
			height: 36px;
			border-radius: 100%;
			@include flex-center();
			background-color: #fff;
			position: relative;
			z-index: 2;
		}
	}

	.tabs {
		display: none;
	}
	.tabs.active {
		display: block;
	}
	.coins-swipe-tab {
		.input {
			display: none;
		}
		.active-input {
			display: block;
		}
	}
	.input {
		margin-top: 21px;
		.p-place {
			color: var(--Black, #000d27);
			font-family: Overlock;
			font-size: 14px;
			font-style: normal;
			font-weight: 900;
			line-height: 130%; /* 18.2px */
			@include flex-between-center();
			.l,
			.r {
				@include flex-center();
				gap: 8px;
			}
		}

		.in-pl {
			margin-top: 8px;
			border: 1px solid var(--Black, #000d27);
			background: #fff;
			box-shadow: 2px 2px 0px 0px #080513;
			border-radius: 8px;
			position: relative;
			input {
				border-radius: 8px;
				border: 0;
				width: 100%;
				color: var(--Black, #000d27);
				font-family: Overlock;
				font-size: 14px;
				font-style: normal;
				font-weight: 900;
				line-height: 130%; /* 18.2px */
				text-align: right;
				padding: 11px 15px;
				position: relative;
				z-index: 2;
				background-color: transparent;
			}
			*::placeholder {
				color: #000;
			}

			.coin-place {
				position: absolute;
				left: 3px;
				top: 3px;
				bottom: 3px;
				@include flex-center();
				border-radius: 8px;
				border: 1px solid var(--Black, #000d27);
				background: #fff2d7;
				box-shadow: 1px 1px 0px 0px #080513;
				gap: 8px;
				color: var(--Black, #000d27);
				leading-trim: both;
				text-edge: cap;
				font-family: "Pure Joy";
				font-size: 16px;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
				min-width: 110px;
				justify-content: start;
				padding-left: 3px;
			}
		}
	}
	.s-rewards {
		@include flex-center();
		flex-direction: column;
		border-radius: 16px;
		border: 1.5px solid var(--Stroke, #ddd3de);
		background: #fff;
		margin-top: 20px;
		padding: 24px;
		h3 {
			margin: 0;
			color: var(--Black, #000d27);
			text-align: center;
			leading-trim: both;
			text-edge: cap;
			font-family: "Pure Joy";
			font-size: 20px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
		}
		p {
			color: #403c4e;
			text-align: center;
			font-family: Overlock;
			font-size: 16px;
			font-style: normal;
			font-weight: 700;
			line-height: 140%; /* 22.4px */
			margin-top: 8px;
		}
		img {
			display: block;
			margin-top: 12px;
			margin-bottom: 12px;
		}
		h2 {
			color: var(--Black, #000d27);
			text-align: center;
			leading-trim: both;
			text-edge: cap;
			font-family: "Pure Joy";
			font-size: 28px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			margin: 0;
		}
		.claim {
			border-radius: 10px;
			border: 1px solid var(--Black, #000d27);
			background: var(--primary, #ffae00);
			box-shadow: 2px 2px 0px 0px #000d27;
			width: 100%;
			color: #fff;
			leading-trim: both;
			text-edge: cap;
			font-family: "Pure Joy";
			font-size: 20px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			padding: 14px;
			@include flex-center();
			margin-top: 24px;
			transition: all ease 0.5s;
			&:hover {
				background-color: #9d6d07;
			}
		}
	}
	.smtit {
		color: var(--Black, #000d27);
		text-align: center;
		leading-trim: both;
		text-edge: cap;
		font-family: "Pure Joy";
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		margin: 0;
		margin-top: 24px;
	}
	button {
		width: 100%;
	}
	.row-inputs {
		@include flex-between-center();
		.input {
			max-width: calc(50% - 8px);
			width: 100%;
			margin-top: 0;
			.in-pl {
				border-radius: 8px;
				border: 1.5px solid var(--Stroke, #ddd3de);
				background: #fff;
				box-shadow: unset;
			}
			.text-t {
				color: var(--Black, #000d27);
				font-family: Overlock;
				font-size: 14px;
				font-style: normal;
				font-weight: 900;
				line-height: 130%; /* 18.2px */
				position: absolute;
				left: 15px;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
	.s-boxes {
		@include flex-between-center();
		margin-top: 30px;
		.box {
			border-radius: 12px;
			border: 1.5px solid var(--Black, #000d27);
			background: #fff;
			box-shadow: 3px 3px 0px 0px #080513;
			@include flex-center();
			flex-direction: column;
			gap: 10px;
			min-height: 87px;
			width: calc(33.33% - 6px);
			h4 {
				color: var(--Black, #000d27);
				text-align: center;
				font-family: Overlock;
				font-size: 14px;
				font-style: normal;
				font-weight: 900;
				line-height: 130%; /* 18.2px */
				margin: 0;
			}
			h3 {
				color: var(--Black, #000d27);
				text-align: center;
				leading-trim: both;
				text-edge: cap;
				font-family: "Pure Joy";
				font-size: 18px;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
				margin: 0;
			}
		}
	}
}

.play {
	min-height: 998px;
	background: url("../img/play-bg.webp") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
	overflow: hidden;
	padding-top: 88px;

	.video {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.videof {
		left: 0;
		right: 0;
		top: 0;
		right: 0;
		width: 100%;
		border-radius: 15px;
		// z-index: 20;
		position: relative;
		height: 704px;
		display: block;
		background-color: #000;
		transition: all ease 0.5s;
		opacity: 0;
	}
	.videoplace {
		border-radius: 20px;
		border: 6px solid #fff;
		background: url(<path-to-image>) lightgray 50% / cover no-repeat;
		box-shadow: 0px 13px 49px 0px rgba(0, 0, 0, 0.5);
		cursor: pointer;
		margin-top: 49px;
		position: relative;
		width: 100%;
		max-width: 1390px;
		.place {
			position: absolute;
			left: 0;
			right: 0;
			margin: auto;
			top: 50%;
			transform: translateY(-50%);
			z-index: 15;
		}
		img {
			border-radius: 20px;
			display: block;
		}
		.bg-v {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			object-fit: cover;
			max-height: 100%;
			height: 100%;
			z-index: 10;
			width: 100%;
			border-radius: 20px;
		}
	}
	.active.videoplace {
		.videof {
			z-index: 20;
			opacity: 1;
		}
	}
	.btn-place {
		position: absolute;
		bottom: -35px;
		left: 0;
		right: 0;
		@include flex-center();
		a {
			min-width: 332px;
			min-height: 68px;
		}
	}
}

.about {
	min-height: 1040px;
	background: url("../img/why-bg.webp") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
	overflow: hidden;
	padding-top: 130px;
	.bg-down {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		background: linear-gradient(180deg, #00021b 0%, rgba(0, 2, 27, 0.8) 43.09%, rgba(0, 2, 27, 0) 100%);
		height: 56.291px;
		transform: scaleY(-1);
	}
	h2 {
		text-align: left;
		max-width: 700px;
		span {
			font-size: 128px;
		}
	}
	.boxes {
		display: flex;
		justify-content: end;
		.box {
			max-width: 900px;
			width: 100%;
			position: relative;
			min-height: 500px;
			margin-top: -73px;
			.why-gif3 {
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				width: 1240px;
				max-width: unset;
			}
			.cont {
				position: relative;
				z-index: 2;
				padding: 66px 100px;
			}
			h3 {
				color: var(--Black, #000d27);
				font-family: "Pure Joy";
				font-size: 48px;
				font-style: normal;
				font-weight: 400;
				line-height: 120%; /* 57.6px */
				margin-bottom: 13px;
			}
			p {
				color: var(--Black, #000d27);
				font-family: Overlock;
				font-size: 24px;
				font-style: normal;
				font-weight: 700;
				line-height: 150%; /* 36px */
			}
		}
	}
	.why-gif {
		position: absolute;
		max-width: 870px;
		bottom: -260px;
		left: calc(50% - 910px);
	}
}

.audit {
	min-height: 1023px;
	position: relative;
	overflow: hidden;
	padding-top: 188px;
	background: url("../img/audit-bg.webp") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	.wrapper {
		position: relative;
		z-index: 2;
	}
	h2 {
		text-align: left;
	}
	p {
		color: #fff;
		font-family: Overlock;
		font-size: 28px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		max-width: 735px;
		margin-top: 21px;
	}
	.btns {
		display: flex;
		gap: 12px;
		align-items: center;
		margin-top: 30px;
	}
	.audit-gif {
		position: absolute;
		right: calc(50% - 820px);
		max-width: 760px;
		bottom: -220px;
		transform: scaleX(-1);
	}
	.grom {
		position: absolute;
		top: -50px;
		transform: scaleX(-1);
		right: -50px;
		width: 1090px;
		animation: lightning-flash 1s infinite;
	}

	@keyframes lightning-flash {
		0%,
		10%,
		100% {
			opacity: 0;
		}
		2% {
			opacity: 0.9;
		}
		8% {
			opacity: 0;
		}
		16% {
			opacity: 0.6;
		}
		20% {
			opacity: 0;
		}
	}
	.top-gr {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		background: linear-gradient(180deg, #00021b 0%, rgba(0, 2, 27, 0.8) 43.09%, rgba(0, 2, 27, 0) 100%);
		height: 56.291px;
	}
	.bottom-gr {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		background: linear-gradient(180deg, #00021b 0%, rgba(0, 2, 27, 0.8) 43.09%, rgba(0, 2, 27, 0) 100%);
		height: 56.291px;
		transform: scaleY(-1);
	}
}

.tokenomics {
	min-height: 1023px;
	position: relative;
	overflow: hidden;
	padding-top: 123px;
	background: url("../img/tokenomics-bg.webp") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	.row {
		display: flex;
		justify-content: end;
		.right {
			max-width: 878px;
			width: 100%;
		}
		h2 {
			color: #fff;
			text-shadow: 6px 4px 0px #000d27;
			-webkit-text-stroke-width: 3px;
			-webkit-text-stroke-color: #000;
		}
		h3 {
			color: #000;
			font-family: "Pure Joy";
			font-size: 38px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			text-align: center;
			margin-top: 17px;
		}
		.boxes {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			margin-top: -10px;
			.box {
				background: url(../img/t-boxes.webp);
				background-repeat: no-repeat;
				background-position: center;
				width: 100%;
				max-width: 410px;
				min-height: 173px;
				@include flex-center();

				color: #fff;
				text-align: center;
				font-family: "Pure Joy";
				font-size: 32px;
				font-style: normal;
				font-weight: 400;
				line-height: 100%; /* 32px */
				text-transform: uppercase;
				padding-top: 15px;
				margin-bottom: -8px;
			}
		}
	}
	.top-gr {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		background: linear-gradient(180deg, #00021b 0%, rgba(0, 2, 27, 0.8) 43.09%, rgba(0, 2, 27, 0) 100%);
		height: 56.291px;
	}
	.bottom-gr {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0.8) 43.09%, rgba(255, 255, 255, 0) 100%);
		height: 125px;
		transform: scaleY(-1);
	}
	.t-gif {
		position: absolute;
		max-width: 603px;
		bottom: 10px;
		left: calc(50% - 605px);
	}
	.t-left-s {
		position: absolute;
		max-width: 683px;
		top: 0;
		left: calc(50% - 1086px);
	}
	.t-right-s {
		position: absolute;
		max-width: 683px;
		top: 0;
		right: calc(50% - 1086px);
	}
	.wrapper {
		position: relative;
		z-index: 10;
	}
}

.roadmap {
	min-height: 2163px;
	position: relative;
	overflow: hidden;
	padding-top: 178px;
	background: url("../img/roadmap-bg.webp") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	h2 {
		text-align: left;
		text-shadow: 6px 4px 0px #000d27;
		-webkit-text-stroke-width: 3px;
		-webkit-text-stroke-color: #000;
	}
	.top-gr {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0.8) 43.09%, rgba(255, 255, 255, 0) 100%);
		height: 125px;
	}
	.bottom-gr {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0.8) 43.09%, rgba(255, 255, 255, 0) 100%);
		height: 125px;
		transform: scaleY(-1);
	}
	.boxes {
		display: flex;
		flex-direction: column;
		margin-top: 90px;
		position: relative;
		&:before {
			content: "";
			position: absolute;
			left: calc(50% - 7px);
			top: 0;
			bottom: 0;
			width: 14px;
			background-color: #ffae00;
			border-radius: 10px;
		}
		.box {
			display: flex;
			justify-content: end;
			margin-bottom: -100px;
			.inside {
				position: relative;
				max-width: 670px;
				padding: 123px 75px 90px 102px;
				min-height: 440px;
				.no {
					background-color: #ffae00;
					position: absolute;
					top: calc(50% - 39px);
					left: -80px;
					transform: translateX(-50%);
					width: 101px;
					height: 101px;
					border-radius: 100%;
					z-index: 10;
					@include flex-center();
					.star {
						position: absolute;
						left: 50%;
						top: 50%;
						transform: translate(-50%, -50%);
						animation: rotate 8s linear infinite;
					}
					@keyframes rotate {
						0% {
							transform: translate(-50%, -50%) rotate(0deg);
						}
						100% {
							transform: translate(-50%, -50%) rotate(360deg);
						}
					}
					.text {
						position: absolute;
						left: 50%;
						top: 50%;
						transform: translate(-50%, -50%);
						color: #fff;
						text-align: center;
						font-family: "Pure Joy";
						font-size: 28px;
						font-style: normal;
						font-weight: 400;
						line-height: normal;
					}
					.in1 {
						width: 85px;
						height: 85px;
						border-radius: 100%;
						background-color: #fff;
						@include flex-center();
					}
					.in2 {
						width: 55px;
						height: 55px;
						border-radius: 100%;
						background-color: #ffae00;
					}
				}
				h3 {
					color: var(--Black, #000d27);
					font-family: "Pure Joy";
					font-size: 24px;
					font-style: normal;
					font-weight: 400;
					line-height: 120%; /* 28.8px */
					position: relative;
					z-index: 2;
				}
				p {
					color: var(--Black, #000d27);
					font-family: Overlock;
					font-size: 20px;
					font-style: normal;
					font-weight: 700;
					line-height: 150%; /* 30px */
					position: relative;
					z-index: 2;
					margin-top: 12px;
					b {
						font-weight: 900;
					}
				}
				.wf {
					position: absolute;
					left: calc(50% - 10px);
					top: calc(50% + 10px);
					transform: translate(-50%, -50%);
					width: 900px;
					max-width: unset;
				}
			}
		}
		.box.orderc {
			justify-content: start;
			.inside {
				padding: 123px 102px 90px 100px;
				.tr {
					transform: scaleX(-1);
					position: absolute;
					left: 0;
					right: 0;
					top: 0;
					bottom: 0;
				}
			}
			.inside .no {
				left: unset;
				right: -180px;
			}
		}
	}
}

.joinus {
	min-height: 1000px;
	position: relative;
	overflow: hidden;
	padding-top: 225px;
	background: url("../img/joinus-bg.webp") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	.top-gr {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0.8) 43.09%, rgba(255, 255, 255, 0) 100%);
		height: 125px;
	}
	.bottom-gr {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		background: linear-gradient(0deg, #00021b 9.96%, rgba(0, 2, 27, 0.6) 51.52%, rgba(0, 2, 27, 0) 100%);
		height: 172px;
	}
	.left-gr {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: calc(50% - 10px);
		background: linear-gradient(270deg, #00021b 53.37%, rgba(0, 2, 27, 0) 100%);
		transform: scaleX(-1);
	}
	.wrapper {
		position: relative;
		z-index: 2;
	}
	h2 {
		text-align: left;
		max-width: 700px;
		span {
			color: #fff0cf;
		}
	}
	p {
		color: #fff;
		font-family: Overlock;
		font-size: 24px;
		font-style: normal;
		font-weight: 700;
		line-height: 114%; /* 27.36px */
		max-width: 635px;
		margin-top: 11px;
	}
	.btns {
		@include flex-center();
		justify-content: start;
		gap: 20px;
		margin-top: 37px;
		img {
			display: block;
		}
		.btn-t1 {
			min-height: 56px;
			padding: 10px 20px;
		}
	}
	.joinus-gif {
		position: absolute;
		max-width: 890px;
		bottom: -370px;
		right: calc(50% - 803px);
		transform: scaleX(-1);
	}
}

footer {
	background-color: #00021b;
	padding-top: 43px;
	padding-bottom: 43px;
	position: relative;
	overflow: hidden;
	.left {
		min-width: 390px;
	}
	.socm {
		@include flex-center();
		gap: 13px;
		// img {
		// 	max-width: 50px;
		// }
	}

	.row {
		@include flex-between-center();
		min-height: 68px;
		.middle {
			ul {
				@include ul-def();
				@include flex-center();
				gap: 41px;
				li {
					a {
						color: #fff;
						font-family: "Pure Joy";
						font-size: 20px;
						font-style: normal;
						font-weight: 400;
						line-height: normal;
						transition: all ease 0.5s;
						&:hover {
							color: #9d6d07;
						}
					}
					.active {
						color: #9d6d07;
					}
				}
			}
		}
	}
	.right {
		@include flex-center();
		gap: 21px;
	}
}

.navbar.fixed {
	position: fixed;
	margin-top: -200px;
	opacity: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	.left {
		min-width: unset;
	}
	.right {
		gap: 10px;
	}
	.socm {
		gap: 5px;
		img {
			max-width: 40px;
		}
	}
	.row {
		border-radius: 8px;
		border: 3px solid var(--primary, #ffae00);
		background: var(--Stroke, #fff2d7);
		box-shadow: 3px 5px 0px 0px #ffae00;
		padding: 0 10px;
		.middle ul li a {
			color: #000;
			&:hover {
				color: #9d6d07;
			}
		}
		.middle ul li .active {
			color: #9d6d07;
		}
	}
	.btn-nav {
		min-height: 51px;
	}
}

.navbar.fixed.add2 {
	transition: all ease 0.5s;
}

.navbar.fixed.show {
	margin-top: 0;
	opacity: 1;
}
